{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Se connecter</header>
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Entrez votre email" name="email">
        <input type="password" placeholder="Entrez votre mot de passe" name="password">
        <input type="submit" class="button" value="Se connecter">
        <center>
          {% if success %}
          <p style="color: green;"><b>{{ success }}</b></p>
          {% endif %}
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </center>
      </form>
      <div class="signup">
        <span class="signup">Vous n'avez pas de compte?
         <a href="{% url 'register' %}"><label for="check">S'inscrire</label></a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>