{% extends 'home.html' %}
{% load static %}
{% block content %}

   <body>
      <div class="wrapper">
         <div class="card front-face">
            <img src="{% static 'images/logo.png' %}">
         </div>
         <div class="card back-face">
            <img src="{% static 'images/logo.png' %}">
            <div class="info">
               <div class="title">
                  {{ name }} {{ last_name }}
               </div>
               <p>
                  User interface designer and <br>front-end developer
               </p>
            </div>
         </div>
      </div>
   </body>
    
{% endblock content %}