{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>S'inscrire</header>
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Entrez votre prénom" name="first_name">
        <input type="text" placeholder="Entrez votre nom de famille" name="last_name">
        <input type="text" placeholder="Entrez votre email" name="email">
        <input type="password" placeholder="Mot de passe" name="password1">
        <input type="password" placeholder="Confirmer votre de mot de passe" name="password2">
        <input type="submit" class="button" value="S'inscire"> 
        <center>
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </center>
        
      </form>
      <div class="signup">
        <span class="signup">Vous avez déjà un compte ?</span>
          <a href="{% url 'login' %}"><label for="check">Se connecter</label></a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>